*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* ------- navbar $ homepage css ------*/
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,50,9,0.7),rgba(4,30,9,0.7)),url(banner.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 150px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: green;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid green;
  padding: 12px 34px;
  margin: 1%;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid green;
  background: green;
  transition: 1s;
}
nav .fa{
  display: none;
}
/* ------ media query for homepage ------*/
@media(max-width: 700px){
  .text-box h1{
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links{
    position: fixed;
    background: green;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
.hero-btn{
    display: inline-flex;
    margin: 2%;
  } 
  nav .fa{
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
}

/* ------ homepage ends here 👆 ------ */

/* ------ course css starts here ----- */

.course{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1{
  font-size: 36px;
  font-weight: 600;
}
p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col{
  flex-basis: 31%;
  background: snow;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,255,0,0.2);
}
/* ------ media query for courses ----*/

@media (max-width: 700px){
  .row{
    flex-direction: column;
  }
  h1{
    font-size: 20px;
  }
}

/* ----- courses css ends here 👆 ---- */

/* ---- Campus css ---- */

.campus{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.campus-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col img{
  width: 100%;
  height: 400px;
  display: block;
}
.layer{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover{
  background: rgba(4,80,9,0.7);
}
.layer h3{
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3{
  bottom: 49%;
  opacity: 1;
}

/* ----- campus ends here ----- */

/* ----- facilities ----- */

.facilities{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.facilities-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 7%;
  text-align: left;
}
.facilities-col img{
  width: 100%;
  height: 200px;
  border: 1px solid lawngreen;
  border-radius: 5px;
}
.facilities-col p{
  padding: 0;
}
.facilities-col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/* ----- facilities ends here ----- */

/* ----- call to action ----- */

.cta{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(banner2.jpg);
 background-position: center;
 background-size: cover;
 border-radius: 10px;
 text-align: center;
 padding: 10px 0;
}
.cta h1{
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}
@media(max-width:700px){
  .cta h1{
    font-size: 22px;
  }
}

/* ----- footer ------ */

.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.icons .fa{
  color: green;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.fa-heart-o{
  color: green;
}
.mgr-link{
  text-decoration: none;
  font-size: 14px;
  color: #27ae60;
  font-weight: bolder;
  font-variant: small-caps;
}
.mgr-link:hover{
  text-decoration: underline;
  text-decoration-color: #27ae60;
  color: green;
}


/* ------ css for about section ----- */

.sub-header{
  height: 50vh;
  width: 100%;
  background: linear-gradient(rgba(4,30,9,0.7),rgba(4,30,9,0.7)),url(bg2.jpg);
background-position: center;
background-size: cover;
text-align: center;
color: #fff;
}
.sub-header h1{
  margin-top: 100px;
}
.about-us{
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}
.about-col{
  flex-basis: 48%;
  padding: 30px 2px;
}
.about-col img{
  width: 100%;
}
.about-col h1{
  padding-top: 0;
}
.about-col p{
  padding: 15px 0 25px;
}
.green-btn{
  border: 1px solid green;
  background: transparent;
  color: green;
}
.green-btn:hover{
  color: #fff;
}


/* ----- members list ----- */

.table-container{
  padding: 0 10%;
  margin: 40px auto 0;
}
.heading{
  font-size: 40px;
  text-align: center;
  color: black;
  margin-bottom: 40px;
}
.table{
  width: 100%;
  border-collapse: collapse;
}
.table thead{
  background-color: #27ae60;
}
.table thead tr th{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #fff;
  opacity: 1;
  padding: 12px;
  vertical-align: top;
  border: 1px solid #dee2e685;
}
.table tbody tr td{
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: #fff;
  background: #3c3f44;
  padding: 8px;
  text-align: center;
  border: 1px solid #dee2e685;
}
.table tbody tr td .btn{
  width: 130px;
  line-height: 35px;
  display: inline-block;
  background-color: #2ecc71;
  font-weight: medium;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 14px;
  opacity: 1;
}
.table tbody tr td .blue-btn{
  border: 1px solid transparent;
  background: #2980b9;
  color: #fff;
}
.table tbody tr td .red-btn{
  border: 1px solid transparent;
  background: #EC644B;
  color: #fff;
}

/* ----- media query for table ----- */

@media(max-width: 768px){
  .heading{
    font-size: 25px;
    font-variant: small-caps;
    line-height: 35px;
  }
  .table thead{
    display: none;
  }
  .table,.table tbody,.table tr,.table td{
    display: block;
    width: 102%;
    box-sizing: border-box;
  }
  .table tr{
    margin-bottom: 15px;
  }
  .table tbody tr td{
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .table td:before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }
}


/* ----- Contact Us ----- */

.location{
  width: 80%;
  margin: auto;
  padding: 80px;
  box-sizing: border-box;
}
.location img{
  width: 100%;
}
.contact-us{
  width: 80%;
  margin: auto;
}
.contact-col{
  flex-basis: 48%;
  margin-bottom: 30px;
}
.contact-col div{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contact-col div .fa{
  font-size: 28px;
  color: green;
  margin: 10px;
  margin-right: 30px;
}
.contact-col div p{
  padding: 0;
}
.contact-col div h5{
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}
.contact-col input, .contact-col textarea{
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  transition: 0.5s;
  box-sizing: border-box;
}

.contact-col select{
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.5s;
}
.contact-col select:hover{
  border: 1px solid #27ae60;
}
.contact-col input:hover{
  border: 1px solid #27ae60;
}
.contact-col textarea:hover{
  border: 1px solid #27ae60;
}
label{
  font-variant: small-caps;
  line-height: 24px;
  color: #27ae60;
}
.text-center{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: green;
  margin-bottom: 2%;
}

.availability{
  color: #e74c3c;
  text-align: center;
  margin: 5px;
}

/* ----- team members ----- */

.team{
  width: 100%;
  padding-top: 50px;
  background: #efefef;
  font-family: sans-serif;
} 

 .title-box{
  text-align: center;
  margin: 100px auto 50px;
}

.title-box p{
  margin-top: 10px;
  line-height: 24px;
}

.profile-box{
  width: 240px;
  height: 240px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 30px;
  box-shadow: 0 10px 10px rgba(155,255,200,0.1);
  padding: 20px;
  position: relative;
  transition: background 0.5s;
}
.profile-box img{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  transition: 0.5s;
}
.profile-box h4{
  margin-top: 25px;
  margin-bottom: 5px;
  color: #27ae60;
}
.profile-box small{
  color: #555;
}
.social-box{
  background: #27ae60;
  margin: 60px auto 20px;
  text-align: center;
  border-radius: 3px;
}
.social-box .fa{
  margin: 5px;
  color: #fff;
  cursor: pointer;
}
.profile-box p{
  text-align: center;
  line-height: 24px;
  color: #555;
}
.team-row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
}

.profile-box img:hover{
  width: 240px;
  height: 241px;
}
.profile-box:hover{
  background: #27ae60;
}
.profile-box:hover h4{
  color: #fff;
}
.profile-box:hover p{
  color: #fff;
}
.profile-box:hover small{
  color: #fff;
}
.profile-box:hover .social-box{
  background: #fff;
}
.profile-box:hover .social-box .fa{
  color: #27ae60;
}


/* ----- image gallery ----- */

body{
	background: #ecf4fb;
}

.title-text h1{
	text-align: center;
	margin-top: 25px;
	font-family: sans serif;
	font-size: 20px;
	font-variant:small-caps;
	font-weight: bold;
	color: #1abc9c;
	transition: .5s;
}
.title-text:hover h1{
  color: #27ae60;
}

.title-text p{
  font-size: 13px;
	text-align: center;
	line-height: 24px;
	padding: 10px 10px 10px 20px;
	font-family: fantasy;
	
}

.info{
  margin: 2%;
  padding: 10px 5px;
  position: relative;
  background: #fff;
  width: 230px;
  text-align: center;
  box-sizing: border;
  box-shadow: 5px 4px 4px 5px rgba(30, 45, 50, 0.3);
  transition: background .5s;
}
.info h4{
  font-weight: bold;
  font-variant: small-caps;
  transition: .5s;
}

.info p{
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #333;
  letter-spacing: 0.35px;
  transition: .5s;
}
.info:hover{
  background: #075E54;
  border-radius: 4px;
  box-shadow: none;
}
.info:hover h4{
  color: #fff;
}
.info:hover p{
  color: #fff;
}

.img-gallery{
	width: 80%;
	margin: 100px auto 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
}
.img-gallery img {
	width: 240px;
	height: 240px;
	cursor: pointer;
	transition: 0.4s;
}
.img-gallery img:hover{
	transform: scale(0.8) rotate(-15deg);
	border-right: 20px;
	box-shadow: 0 32px 75px rgba(68,77,136, 0.2);
	border-radius: 5px;
	border: 1px solid #27ae06;
}
.full-img {
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.9);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	align-content: center;
	justify-content: center;
	z-index: 100;
}
.full-img img{
	width: 100%;
	max-width: 500px;
	border: 1px solid #27ae60;
}
.full-img span{
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}

@media screen and (max-width: 700px){
  .full-img img{
	width: 300px;
	height: 350px;
	max-width: 500px;
	margin-top: 35%;
	border: 1px solid #27ae60;
}
}

